---
layout: page
---	  
<article>

The {{ site.conference.name }} conference will take place at the <a href="http://msimanchester.org.uk/">Museum of Science and Industry</a> from {{ site.conference.dates[0] | date: "%A %B, %-d %Y" }} to  {{ site.conference.dates.last | date: "%A %B, %-d %Y" }}.

<br>
<br>

<p>
Travelling from Manchester Piccadilly or Manchester Victoria Train Stations <br> 
Metrolink to Deansgate Castlefield
</p>

<p>
Travelling from Manchester Airport <br>
Taxi – Approx £15 <br>
Train - Manchester Airport – Manchester Piccadilly (follow above instructions) <br> 
Manchester Airport – Manchester Oxford Road <br> 
</p>

</article>

