---
layout: page
---	  
<article>

The {{ site.conference.name }} conference will take place at the <a href="https://www3.hilton.com/en/hotels/united-kingdom/hilton-manchester-deansgate-MANDGHI/index.html?">Hilton Deansgate Manchester</a> from {{ site.conference.dates[0] | date: "%A %B, %-d %Y" }} to  {{ site.conference.dates.last | date: "%A %B, %-d %Y" }}.

<br>
<br>

<p>
The venue is located near Deansgate/Castlefield metrolink (tram) stop and a 10 minute walk from Oxford Road train station,  see <a href="https://www3.hilton.com/en/hotels/united-kingdom/hilton-manchester-deansgate-MANDGHI/maps-directions/index.html">map</a>.

<p>
Travelling from Manchester Airport <br>
Taxi – Approx £20 <br>
Train - Manchester Airport – Manchester Oxford Road <br> 
</p>

<!-- 
<p>
  <br>Nearby hotels<br>
  <br>
  Abode Manchester (0.2 miles from venue)<br>
  website: <a href="http://www.abodemanchester.co.uk">abodemanchester.co.uk</a> <br>
  <br>
  Malmaison Manchester (0.2 miles from venue)<br>
  Website: <a href="https://www.malmaison.com/locations/manchester/">malmaison.com</a> <br>
  <br>
  Double Tree by Hilton Hotel Manchester (0.2 miles from venue)<br>
  Website: <a href="https://doubletree3.hilton.com/en/hotels/united-kingdom/doubletree-by-hilton-hotel-manchester-piccadilly-MANPDDI/index.html?cid=OM,MB,UKAOLx,UK_AOL,book_uk">doubletree3.hilton.com</a> <br>
  <br>
  Mercure Manchester Piccadilly Hotel (<0.1 miles from venue)<br>
  Website: <a href="https://www.accorhotels.com/gb/hotel-8325-mercure-manchester-piccadilly-hotel/index.shtml">accorhotels.com</a> <br>
  <br>
  Velvet Hotel & Bar (0.2 miles from venue) <br>
  Website: <a href="http://www.velvetmanchester.com/">velvetmanchester.com</a> <br>
  <br>
  The Principal Manchester (0.5 miles from venue)<br>
  Website: <a href="https://www.phcompany.com/principal/manchester-hotel/">phcompany.com</a> <br>
  <br>

</p>
 -->
  
  

</article>

