---
layout: page
---	  
<article>

The {{ site.conference.name }} conference will take place at the <a href="https://www.etcvenues.co.uk/venues/manchester">etc.venues</a> from {{ site.conference.dates[0] | date: "%A %B, %-d %Y" }} to  {{ site.conference.dates.last | date: "%A %B, %-d %Y" }}.

<br>
<br>

<p>
The venue is located near Piccadilly Gardens metrolink (tram) stop and a 10 minute walk from Manchester Piccadilly train station,  see <a href="https://www.google.co.uk/maps/place/etc.venues+Manchester/@53.4795919,-2.2364263,15z/data=!4m2!3m1!1s0x0:0x5ece8e9b8bcaba6b?ved=2ahUKEwiP3am_qujeAhVoK8AKHWoWA6AQ_BIwC3oECAYQCA">google map</a>.

<p>
Travelling from Manchester Victoria railway station <br> 
Take the Metrolink to Piccadilly Gardens
</p>

<p>
Travelling from Manchester Airport <br>
Taxi – Approx £20 <br>
Train - Manchester Airport – Manchester Piccadilly <br> 
</p>

<p>
  <br>Nearby hotels<br>
  <br>
  Abode Manchester (0.2 miles from venue)<br>
  website: <a href="http://www.abodemanchester.co.uk">abodemanchester.co.uk</a> <br>
  <br>
  Malmaison Manchester (0.2 miles from venue)<br>
  Website: <a href="https://www.malmaison.com/locations/manchester/">malmaison.com</a> <br>
  <br>
  Double Tree by Hilton Hotel Manchester (0.2 miles from venue)<br>
  Website: <a href="https://doubletree3.hilton.com/en/hotels/united-kingdom/doubletree-by-hilton-hotel-manchester-piccadilly-MANPDDI/index.html?cid=OM,MB,UKAOLx,UK_AOL,book_uk">doubletree3.hilton.com</a> <br>
  <br>
  Mercure Manchester Piccadilly Hotel (<0.1 miles from venue)<br>
  Website: <a href="https://www.accorhotels.com/gb/hotel-8325-mercure-manchester-piccadilly-hotel/index.shtml">accorhotels.com</a> <br>
  <br>
  Velvet Hotel & Bar (0.2 miles from venue) <br>
  Website: <a href="http://www.velvetmanchester.com/">velvetmanchester.com</a> <br>
  <br>
  The Principal Manchester (0.5 miles from venue)<br>
  Website: <a href="https://www.phcompany.com/principal/manchester-hotel/">phcompany.com</a> <br>
  <br>

</p>
  
  

</article>

