---
layout: page
---
<article>

  <p> The registration fee is &pound;100 and the cost of the workshop dinner on Monday evening is &pound;50. We will keep a small number of spaces available until after decisions on submissions are released to ensure that speakers for accepted contributed talks can register. However, space at the venue is limited and therefore we encourage people to register as soon as possible to avoid disappointment.  </p>
    
  <p> Please use the following link to register: <a href="http://estore.manchester.ac.uk/conferences-and-events/faculty-of-biology-medicine-and-health/school-of-health-sciences/division-of-informatics-imaging-and-data-sciences/advances-in-data-science-2017"> <b> Registration </b> </a></p>
 
</article>


