---
layout: page
---
<article>

  <p> To be considered for a short aural presentation or poster please submit an abstract through the meeting's <a href="https://easychair.org/conferences/?conf=ads20171">easychair submission page</a>. Abstracts should be prepared on one side of a4 and should describe new or recently published data science research. Relevant rtopics for the meetring includes advanced analytics (machine learning and computational statistics), applications, privacy and software.
  </p>

 
  
 
  
</article>


