---
layout: page
---
<article>

    <!-- <p> To be considered for a short oral presentation or poster please submit an abstract through the meeting's <a href="https://easychair.org/conferences/?conf=dsadvances2018">easychair submission page</a>. Abstracts should be prepared on one side of a4 (pdf format) and should describe new or recently published data science research. We will consider submissions which demontrate advances in data science methodology and/or applications of data science supporting societal wellbeing. 
   </p>

   <p> Talk submissions are now closed. To be considered for a poster then submit an abstract through the meeting's <a href="https://easychair.org/conferences/?conf=dsadvances2018">easychair submission page</a> 
    
   <p>
    Talk submission deadline: Monday February 19th <br>
    Decisions: We have delayed decisionn as some of the programme committee are taking part in the USS industrial action. Decision should be available by Monday March 12th
    
    </p>
-->

<p> Submissions are now closed. 
  
</article>


