---
layout: page
---
<article>

  <p> To be considered for a short oral presentation or poster please submit an abstract through the meeting's <a href="https://easychair.org/conferences/?conf=ads20171">easychair submission page</a>. Abstracts should be prepared on one side of a4 (pdf format) and should describe new or recently published data science research. Relevant topics for the meeting include advances in machine learning and computational statistics, data science applications, privacy, visualisation and software. 
  </p>

 
  
 
  
</article>


